resources:
- name: {{ env["name"] }}
  type: gcp-types/compute-v1:instances
  properties:
    zone: {{ properties["zone"] }}
    machineType: zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    tags: {
      items: [
        "http-server",
        "https-server"
      ]
    }
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/centos-cloud/global/images/family/centos-7
    networkInterfaces:
    - network: projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    scheduling:
      preemptible: true
    serviceAccounts:
    - email: $(ref.{{ properties['serviceAccountId'] }}.email)