resources:
#- type: iam.v1.serviceAccount
- type: gcp-types/iam-v1:projects.serviceAccounts
  name: {{ properties['name'] }}
  properties:
    accountId: gce-service-{{ properties['accountIdSuffix'] }}
    displayName: {{ properties['displayName'] }}
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/editor
        members:
        - "serviceAccount:gce-service-{{ properties['accountIdSuffix'] }}@{{ env["project"] }}.iam.gserviceaccount.com"
